li.item{
	height:60px;
	list-style-type:none;
	overflow:hidden;
}
ul,li{
	list-style-type:none;
	padding:0;
	margin:0;
}
li span.text{
	line-height:60px;
}

.item .text{
	width:100%;
	overflow:hidden;
	word-wrap:no-wrap;
}
